<!DOCTYPE html>

<html>
  <head>
    <title>Microservices Portfolio</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Microservices Portfolio</h1>
    <hr />
    <div class="container">
      <ul>
        <li><a href="headerParser">Header Parser API</a></li>
        <li><a href="timestamp">Timestamp API</a></li>
        <li><a href="urlShortener">Url Shortener API</a></li>
        <li><a href="exerciseTracker">Exercise Tracker API</a></li>
        <li><a href="metaData">Meta Data Uploader API</a></li>
      </ul>
    </div>
    <div class="footer"></div>
  </body>
</html>
